<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.singulee.carschool.pojo.CourseMapper">
  <resultMap id="BaseResultMap" type="com.singulee.carschool.pojo.Course">

    <id column="courseId" jdbcType="INTEGER" property="courseid" />
    <result column="courseName" jdbcType="VARCHAR" property="coursename" />
    <result column="courseBegin" jdbcType="TIME" property="coursebegin" />
    <result column="courseEnd" jdbcType="TIME" property="courseend" />
  </resultMap>
  <select id="getCourseList" resultType="com.singulee.carschool.pojo.Course">
      select * from course

  </select>








  <sql id="Base_Column_List">

    courseId, courseName, courseBegin, courseEnd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select 
    <include refid="Base_Column_List" />
    from course
    where courseId = #{courseid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from course
    where courseId = #{courseid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.singulee.carschool.pojo.Course">

    insert into course (courseId, courseName, courseBegin, 
      courseEnd)
    values (#{courseid,jdbcType=INTEGER}, #{coursename,jdbcType=VARCHAR}, #{coursebegin,jdbcType=TIME}, 
      #{courseend,jdbcType=TIME})
  </insert>
  <insert id="insertSelective" parameterType="com.singulee.carschool.pojo.Course">

    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseid != null">
        courseId,
      </if>
      <if test="coursename != null">
        courseName,
      </if>
      <if test="coursebegin != null">
        courseBegin,
      </if>
      <if test="courseend != null">
        courseEnd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseid != null">
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="coursename != null">
        #{coursename,jdbcType=VARCHAR},
      </if>
      <if test="coursebegin != null">
        #{coursebegin,jdbcType=TIME},
      </if>
      <if test="courseend != null">
        #{courseend,jdbcType=TIME},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.singulee.carschool.pojo.Course">

    update course
    <set>
      <if test="coursename != null">
        courseName = #{coursename,jdbcType=VARCHAR},
      </if>
      <if test="coursebegin != null">
        courseBegin = #{coursebegin,jdbcType=TIME},
      </if>
      <if test="courseend != null">
        courseEnd = #{courseend,jdbcType=TIME},
      </if>
    </set>
    where courseId = #{courseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.singulee.carschool.pojo.Course">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update course
    set courseName = #{coursename,jdbcType=VARCHAR},
      courseBegin = #{coursebegin,jdbcType=TIME},
      courseEnd = #{courseend,jdbcType=TIME}
    where courseId = #{courseid,jdbcType=INTEGER}
  </update>
</mapper>